.xy-anim-1{
    animation: zoomin 1s ease forwards , updownimg 2s ease-in-out infinite;
    animation-delay:3s ;
}
.xy-anim-2{
    animation: zoomin 1s ease forwards , updownimg 2s ease-in-out infinite;
    animation-delay:4s ;
}
@keyframes updownimg{
    0%{
        transform: translateY(0px);
        
    }
    50%{
        transform: translateY(-8px);

    }
    100%{
        transform: translateY(0px);

    }
}

