/* .post h1 {
  font-size: 1.875rem !important;
  font-weight: 600 !important;
  margin-top: 1rem !important;
  width: 100% !important;
} */

.post h2,
.post h3,
.post h4 {
  font-weight: 600 !important;
  /* font-semibold */
  margin-top: 1rem !important;
  /* mt-4 in rem units (16px) */
  width: 100% !important;
}

.post h2 {
  font-size: 1.5rem;
  /* text-2xl in rem units (20px) */
}

.post h3 {
  font-size: 1.25rem;
  /* text-xl in rem units (18px) */
}

.post h4 {
  font-size: 1.125rem;
  /* text-lg in rem units (16px) */
}

@media (max-width: 650px) {
  .post h1 {
    font-size: 1.5rem;
    /* text-xl in rem units (18px) */
  }

  .post h2 {
    font-size: 1.25rem;
    /* text-lg in rem units (16px) */
  }

  .post h3 {
    font-size: 1.125rem;
    /* text-base in rem units (14px) */
  }

  .post h4 {
    font-size: 1rem;
    /* text-sm in rem units (12px) */
  }
}

.post p {
  font-size: 1rem;
  /* text-[16px] in rem units (16px) */
  margin-top: 0.75rem;
  /* my-3 in rem units (12px) */
  line-height: 1.875rem;
}

@media (max-width: 650px) {
  .post p {
    font-size: 0.9375rem;
    /* text-[15px] in rem units (15px) */
  }
}
